
        <!-- Start offCanvas minicart -->
        <div class="offCanvas__minicart">
          <div class="minicart__header ">
              <div class="minicart__header--top d-flex justify-content-between align-items-center">
                  <h3 class="minicart__title"> Shopping Cart</h3>
                  <button class="minicart__close--btn" aria-label="minicart close btn" data-offcanvas>
                      <svg class="minicart__close--icon" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 512 512"><path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg>
                  </button>
              </div>
              <p class="minicart__header--desc">The Beauty and Cosmetic products are limited</p>
          </div>
          <div class="minicart__product">
              
              <div class="minicart__product--items d-flex">
                  <div class="minicart__thumb">
                      <a href="product-details.html"><img src="https://res.cloudinary.com/dw57gwzru/image/upload/v1737677093/download_zeflik.jpg" alt="prduct-img"></a>
                  </div>
                  <div class="minicart__text">
                      <h4 class="minicart__subtitle"><a href="product-details.html">Intense Lipstick
                        </a></h4>
                      <div class="minicart__price">
                          <span class="minicart__current--price">$15000</span>
                          <span class="minicart__old--price">$30000</span>
                      </div>
                      <div class="minicart__text--footer d-flex align-items-center">
                          <div class="quantity__box minicart__quantity">
                              <button type="button" class="quantity__value decrease" aria-label="quantity value" value="Decrease Value">-</button>
                              <label>
                                  <input type="number" class="quantity__number" value="1" data-counter />
                              </label>
                              <button type="button" class="quantity__value increase" aria-label="quantity value" value="Increase Value">+</button>
                          </div>
                          <button class="minicart__product--remove" type="button" aria-label="Remove">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                </svg>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="minicart__amount">
              <div class="minicart__amount_list d-flex justify-content-between">
                  <span>Sub Total:</span>
                  <span><b>$240.00</b></span>
              </div>
              <div class="minicart__amount_list d-flex justify-content-between">
                  <span>Total:</span>
                  <span><b>$240.00</b></span>
              </div>
          </div>
          <div class="minicart__conditions text-center">
              <input class="minicart__conditions--input" id="accept" type="checkbox">
              <label class="minicart__conditions--label" for="accept">I agree with the <a class="minicart__conditions--link" href="privacy-policy.html">Privacy Policy</a></label>
          </div>
          <div class="minicart__button-group d-flex justify-content-center">
              <button class="btn btn-primary button-mini-cart" href="cart.html">View cart</button>
              <button class="btn btn-primary button-mini-cart" href="checkout.html">Checkout</button>
          </div>
      </div>
      <!-- End offCanvas minicart -->
