<div id="banner" class="carousel slide mt-4" data-bs-ride="carousel style=">
    <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="https://res.cloudinary.com/di1xiwdsn/image/upload/a_90/v1739937154/nature-4_w5p8vi.jpg" class="d-block w-100 opacity-50" alt="...">
            <div class="carousel-caption pb-0 d-flex flex-column justify-content-center align-items-center h-100">
                <h1 class="fw-bold fs-1">INTI Sustainability</h1>
                <p class="text-center px-3 banner-paragraph mt-5 fs-2 lh-1">
                    At Inti, we believe that sustainability is more than just a choice—it’s a commitment to a better
                    world for everyone.
                </p>
                <a class="btn help-button" href="products.html">Help by buying</a>
            </div>
        </div>
    </div>
</div>

