<div class="container-fluid mt-5 mb-4">
    <h1 class="text-center engagement-title">Explore our sustainable catalog</h1>
    <div id="categoriesCarousel" class="carousel slide mt-4" data-bs-ride="carousel">
        <div class="carousel-inner" id="categories">
            <!-- Tarjetas dinámicas aquí -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#categoriesCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#categoriesCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>
