<div class="container mt-3">
    <div class="row text-center">
        <h2 class="engagement-title">
            INTI Veganism - Hear the kind words from our beloved supporters
        </h2>
    </div>

    <div class="row d-flex justify-content-center flex-wrap g-4 mt-3">
        <div class="col-md-4 d-flex align-items-stretch">
            <img class="img-fluid engagement-img rounded"
                 style="max-width: 108%; object-fit: contain;"
                 src="https://res.cloudinary.com/di1xiwdsn/image/upload/v1739853723/quote_qmdorn.jpg">
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
            <img class="img-fluid engagement-img rounded"
                 style="max-width: 108%; object-fit: contain;"
                 src="https://res.cloudinary.com/di1xiwdsn/image/upload/v1739853723/vegan-7_xxpjqu.jpg">
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
            <img class="img-fluid engagement-img rounded"
                 style="max-width: 108%; object-fit: contain;"
                 src="https://res.cloudinary.com/di1xiwdsn/image/upload/v1739853723/quote-2_z8thhb.jpg">
        </div>
    </div>
</div>
