<div class="header__topbar bg__primary">
  <div class="container">
    <div class="header__topbar--inner style6 d-flex align-items-center justify-content-between">
      <ul class="header__topbar--info d-none d-lg-flex">
        <li class="header__info--text text-white">
          Good luck with shopping
        </li>
        <li class="header__info--text text-white">
          <span class="text__secondary">Call us</span>
          <a  href="tel:+1234567898">: (+57) 456-789-88-76</a>
        </li>
      </ul>
      <div class="header__top--right d-flex align-items-center">
      </div>
    </div>
  </div>
</div>