<div class="container mt-4">
  <div class="row pe-5 ps-5">
    <div class="col-7">
      <div class="row sustainable-pictures-container">
        <div class="ps-3 ms-0 text-center sustainable-img__container">
          <img class="img sustainable-img mt-2"  src="https://res.cloudinary.com/dw57gwzru/image/upload/v1739125256/Origin-1_lavmir.jpg">
          <img class="img sustainable-img" src="https://res.cloudinary.com/dw57gwzru/image/upload/v1739125237/Origin_cqfzcu.jpg">
          <div class="video__play">
            <a class="bideo__play--icon glightbox" href="https://www.youtube.com/embed/iPERUcL2M2U?si=WEFq1hIulkbkzfXA&amp;start=1" data-gallery="video">
              <svg width="15" height="18" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.5 9.13398C17.1667 9.51888 17.1667 10.4811 16.5 10.866L1.5 19.5263C0.833335 19.9112 9.70611e-07 19.4301 1.00426e-06 18.6603L1.76136e-06 1.33975C1.79501e-06 0.569945 0.833335 0.0888201 1.5 0.47372L16.5 9.13398Z" fill="currentColor"/>
              </svg>
              <span class="visually-hidden">Video Play</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5 text-justify sustainable-text-container d-flex flex-column justify-content-center">
      <h3 class="text-center mb-2">Ethical and sustainable</h3>
      <p  class="align-middle text-paragraph">
        At Origen Cosmetics, we believe beauty and sustainability go hand in hand. That’s why we use natural, cruelty-free ingredients and eco-friendly packaging, ensuring our products are kind to both your skin and the planet. Our commitment extends to responsible sourcing, fair trade, and reducing our carbon footprint. We minimize waste and maximize renewable resources to create high-quality, ethical cosmetics. By choosing Origen Cosmetics, you support a movement that values nature, transparency, and social responsibility. Beauty should never come at the cost of the environment, and with us, you can shine while making a difference. Join us in creating a more sustainable future—one product at a time!
      </p>
    </div>

  </div>
</div>

