<div class="container my-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-5 video-card shadow mx-2">
      <video class="card-video rounded-top" controls>
        <source src="https://res.cloudinary.com/di1xiwdsn/video/upload/v1739853726/recy_qklq5c.mp4" type="video/mp4">
        Your browser doesn't support videos.
      </video>
      <div class="card-body text-center">
        <h5 class="card-title fw-bold">Join our Sustainable Journey</h5>
        <p class="card-text">Discover how buying from INTI helps promote sustainability.</p>
      </div>
    </div>

    <div class="col-md-5 video-card shadow mx-2">
      <video class="card-video rounded-top" controls>
        <source src="https://res.cloudinary.com/di1xiwdsn/video/upload/v1739840758/rabbit_v5hsmq.mp4" type="video/mp4">
        Your browser doesn't support videos.
      </video>
      <div class="card-body text-center">
        <h5 class="card-title fw-bold">Make an Impact Today</h5>
        <p class="card-text">Every purchase contributes to animal sanctuaries in Colombia.</p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center text-center my-4">
    <div class="col-md-8">
      <p id="typing-effect"></p>
      <a href="products.html" class="btn help-button mt-3">Explore Products</a>
    </div>
  </div>
</div>