.team-member__card {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

p.description {
  color: white;
  opacity: 1;
  padding: 0 2rem;
  line-height: var(--space-6-x);
  font-size: var(--body-font-size);
}

.team-member__card:hover .overlay {
  opacity: 1; 
}



.team__section.section--padding {
  padding-bottom: var(--space-22-x);
}

.video-about {
  height: 618px;
  width: 381px;
}

.copyright__content{
  text-align: center;
}

/*
33. About page css 
*/
.about__Section.mb-30 {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 575px) {
  .about__Section.mb-30 {
  }
}

@media only screen and (min-width: 768px) {
  .about__thumbnail.padding__left {
    padding-left: 4rem;
  }
}

@media only screen and (min-width: 992px) {
  .about__thumbnail.padding__left {
    padding-left: 6rem;
  }
}

@media only screen and (min-width: 1200px) {
  .about__thumbnail.padding__left {
    padding-left: 9rem;
  }
}

@media only screen and (max-width: 575px) {
  .about__content {
    padding-top: 2.5rem;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .about__content.padding__left {
    padding-left: 2rem;
  }
}

@media only screen and (min-width: 1366px) {
  .about__content.padding__left {
    padding-left: 5rem;
  }
}

.about__content--subtitle {
  font-size: var(--subtitle-font-size);
  line-height: calc(var(--subtitle-font-size) + 0.25rem);
  font-weight: var(--headings-weight);
  color: var(--au-purple);
}

@media only screen and (min-width: 768px) {
  .about__content--title {
  }
}

@media only screen and (min-width: 1200px) {
  .about__content--title {
  }
}

.about__content--desc {
  font-size: var(--body-font-size);
  line-height: calc(var(--title-font-size) + 0.25rem);
  color: var(--primary-color);
  margin-top: var(--space-2-x);
}

@media only screen and (min-width: 768px) {
  .about__content--desc {
    margin-top: var(--space-2-x);
  }
}

@media only screen and (min-width: 1200px) {
  .about__content--desc {
    margin-top: var(--space-2-x);
  }
}

@media only screen and (min-width: 1366px) {
  .about__content--desc {
    margin-top: 1.7rem;
  }
}

.about__experience--text {
  position: absolute;
  top: 83%;
  right: 155px;
  border: 1px solid var(--secondary-color);
  background: var(--au-brown-20);
  border-radius: 0.5rem;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  padding: 1rem;
  width: 10rem;
}

@media only screen and (min-width: 768px) {
  .about__experience--text {
    width: 11rem;
    top: 87%;

  }
}

@media only screen and (min-width: 992px) {
  .about__experience--text {
    padding: 1.5rem;
    width: 15rem;
    right: 58%;
    top: 91%;
}

  }

  .about-img{
    width: 100%;
    max-width: 100%;
  }


@media only screen and (min-width: 1366px) {
  .about__experience--text {
    width: 16rem;
    padding: 2rem;
    top: 91%;

  }
}

@media only screen and (max-width: 575px) {
  .about__experience--text {
    left: 17%;
    top: 79%;
    
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    
  }
}

.about__experience--years {
  font-size: 3rem;
  line-height: 2.5rem;
  color: var(--primary-color);
  font-weight: 600;
  display: block;
}

@media only screen and (min-width: 768px) {
  .about__experience--years {
    font-size: 3.5rem;
    line-height: 2.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .about__experience--years {
    font-size: 4rem;
    line-height: 3rem;
  }
}

@media only screen and (min-width: 1366px) {
  .about__experience--years {
    font-size: 3rem;
  }
}

.about__experience--years__inner {
  font-family: var(--primary-font);
  font-size: 60px;
  color: var(--au-green);
}

.about__experience--title {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
}

@media only screen and (min-width: 768px) {
  .about__experience--title {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

@media only screen and (min-width: 992px) {
  .about__experience--title {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}

@media only screen and (min-width: 1366px) {
  .about__experience--title {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
}

/*
    team member css
*/
.team__items:hover .team__thumb {
  border-color: var(--secondary-color);
}



.team__thumb {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-left: auto;
  margin-right: 0;
  border-radius: 10px;
}

.team__thumb--img {
  width: 100% !important;
  height: 380px !important;
  object-fit: cover !important;
  object-position: top;
  
  
}

.team__social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: var(--space-2-x);
}

@media only screen and (min-width: 1200px) {
  .team__social {
    gap: 1.2rem;
  }
}

.team__social--icon {
  width: 4rem;
  height: 4rem;
  text-align: center;
  background: var(--bg-offwhite-color);
  color: var(--body-text-color);
  font-size: 1.5rem;
  line-height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out, background 0.3s, color 0.3s;
 
}

.team__social--icon:hover {
  transform: scale(1.2);
  background: var(--au-black);
  color: var(--text-white-color);
}

@media only screen and (min-width: 1200px) {
  .team__social--icon {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.8rem;
  }
}

.team__content {
  padding: 1rem 0 0;
}

@media only screen and (max-width: 991px) {
  .team__content {
    padding: 0.8rem 0 0;
  }
}

.team__content--subtitle {
  font-size: var(--body-title-font-size);
  line-height: calc(var(--body-title-font-size)+0.25rem);
  color: var(--foreground-sub-color);
}

.team__content--title {
  font-weight: 600;
  font-size: var(--third-title-font-size);
  line-height: calc(var(--third-title-font-size) + 0.25rem);
  color: var(--primary-color);
}

@media only screen and (min-width: 992px) {
  .team__content--title {
    font-size: var(--third-title-font-size);
    line-height: calc(var(--third-title-font-size) + 0.25rem);
  }
}

@media only screen and (min-width: 1200px) {
  .team__content--title {
    font-size: var(--third-title-font-size);
    line-height: calc(var(--third-title-font-size) + 0.25rem);
  }
}
