/* 
    31. Breadcrumb css 
*/
.breadcrumb__bg {
  background: var(--au-brown-20);
  padding: 0.45rem 0;
}

.breadcrumb__content {
  position: relative;
}

.breadcrumb__content--title {
  margin-bottom: 8px;
  color: var(--primary-color);
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 600;
}

@media only screen and (min-width: 992px) {
  .breadcrumb__content--title {
    margin-bottom: 10px;
    font-size: 2.2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .breadcrumb__content--title {
    font-size: 2.7rem;
    line-height: 2.8rem;
  }
}

.breadcrumb__content--menu__items {
  position: relative;
  margin-right: 18px;
  padding-right: 18px;
  font-size: 15px;
  line-height: 24px;
}

.breadcrumb__content--menu__items:last-child {
  margin-right: 0;
  padding-right: 0;
}

.breadcrumb__content--menu__items:last-child::before {
  display: none;
}

.breadcrumb__content--menu__items::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background: var(--secondary-color);
  right: 0;
  top: 4px;
  border-radius: 5px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
