.banner-paragraph {
    color: var(--inti-light-green);
}

.banner-dimension {
    height: 500px; /* Asegura que el banner tenga una altura real */
    max-height: 500px; /* Mantiene el límite máximo */
    overflow: hidden; /* Oculta el contenido que sobrepase esta altura */
}

.carousel-item {
    height: 45vh; /* Ajusta la altura del carrusel */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad del texto */
    padding: 20px;
    border-radius: 10px;
}

.help-button {
    /*background-color: rgba(94, 110, 96, 0.8);*/
    background-color: var(--inti-deep-green);
    opacity: 0.75;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    width: 20%;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    color: var(--inti-light-green);
}

.help-button:hover {
    background-color: rgba(94, 110, 96, 1);
    transform: scale(1.05);
}

/* Responsive design */
@media (max-width: 768px) {
    .carousel-caption {
        display: none; /* Oculta el texto en pantallas pequeñas */
    }
}
