/*body::before {
  background: url('https://res.cloudinary.com/dw57gwzru/image/upload/v1738630106/portrait-3657966_1920_hiffsb.jpg')
}*/


.result-message {
    height: 70px;
    margin-top: 1.5rem;
}

section.row.justify-content-center {
    min-height: 65vh;
}

.login-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

/* Fondo animado solo para esta sección */
.login-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('https://res.cloudinary.com/di1xiwdsn/image/upload/v1740341693/landscape_b8n5ge.svg') no-repeat center center/cover;
    /*animation: backgroundAnimation 10s infinite alternate ease-in-out;*/
    z-index: 0;
    overflow: hidden;
    max-height: 128vh;
}

@keyframes backgroundAnimation {
    0% {
        transform: scale(0.95);
        filter: brightness(1);
    }
    100% {
        transform: scale(1);
        filter: brightness(0.9);
    }
}

/* Contenedor del formulario */
.login-wrapper {
    position: relative;
    z-index: 10;
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
