@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');


:root
{
  --inti-gray:#2D2D29;
  --inti-deep-green:#215D6D;
  --inti-medium-green:#3CA2A2;
  --inti-green:#92C7A3;
  --inti-light-green:#DFECE6;
  --init-alternative-green:#92B395;
  --inti-light-purple:#726681;
  --inti-purple:#565164;
  --offer-text: 'DotGothic16', sans-serif;



  --au-black:#000000;
  --au-white:#fff;
  --primary-color:#000000;
  --au-gray:#555555;
  --au-light-gray:#cccccc;
  --primary60-color: #E4DBD3;
  --au-brown-20: #F1EDE9;
  --au-beige:#E4DBD3;
  --secondary-color:  #bca792;
  --au-brown:#bca792;
  --au-brown-light: #C9B8A7;
  --au-brown-shadow: rgba(201, 184, 167, 0.25);
  --purple-color: #773875; 
  --au-purple: #773875;
  --au-purple-opacity: #773875cc; 
  --hover-color: #6E2139;
  --au-wine: #6E2139;
  --aqua-color: #52B194;
  --au-aqua: #52B194;
  --foreground-color:  #5E6E60;
  --au-green: #5E6E60;
  --au-green-light: #7E8B7F;
  --au-green-shadow: rgba(94, 110, 96, 0.25);
  --foreground-sub-color: #98928E;
  --body-text-color: #000000;
  --text-white-color: #fff;
  --body-background-color: #fff;
  --bg-offwhite-color: #DEE2DF;
  --bg-gray-color: #F5F8FF;
  --bg-black-color: #000000;
  --bg-light-dark-color: #1a1818;
  --border-color: #EDEDED;
  --au-purple-80: #925F8F;
  --primary-font: "Atkinson Hyperlegible Next", serif;
  --secondary-font: 'Be Vietnam Pro', sans;
  --small-font-size: 0.75rem;
  --title-font-size: 2rem;
  --subtitle-font-size: 1.8rem;
  --third-title-font-size: 1.5rem;
  --body-title-font-size: 1.3rem;
  --body-font-size: 1rem;
  --footer-title-font-size: 1.3rem;
  --footer-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5rem;
  --headings-weight: 700;
  --transition: all 0.3s ease 0s;
  --container-fluid-offset: 12rem;

  --base-space: 0.25rem; /* 4px */
  --space-1x:       calc(var(--base-space) * 1);   /* 4px */
  --space-1-half-x: calc(var(--base-space) * 1.5); /* 6px */
  --space-2-x:      calc(var(--base-space) * 2);   /* 8px */
  --space-2-half-x: calc(var(--base-space) * 2.5); /* 10px */
  --space-3-x:      calc(var(--base-space) * 3);   /* 12px */
  --space-3-half-x: calc(var(--base-space) * 3.5); /* 14px */
  --space-4-x:      calc(var(--base-space) * 4);   /* 16px 1rem */
  --space-4-half-x: calc(var(--base-space) * 4.5); /* 18px */
  --space-5-x:      calc(var(--base-space) * 5);   /* 20px */
  --space-5-half-x: calc(var(--base-space) * 5.5); /* 22px */
  --space-6-x:      calc(var(--base-space) * 6);   /* 24px */
  --space-6-half-x: calc(var(--base-space) * 6.5); /* 26px */
  --space-7-x:      calc(var(--base-space) * 7);   /* 28px */
  --space-7-half-x: calc(var(--base-space) * 7.5); /* 30px */
  --space-8-x:      calc(var(--base-space) * 8);   /* 32px 2rem */

  --space-10-x: calc(var(--base-space) * 10); /* 40px */
  --space-11-x: calc(var(--base-space) * 11); /* 44px */
  --space-12-x: calc(var(--base-space) * 12); /* 48px */
  --space-13-x: calc(var(--base-space) * 13); /* 52px */
  --space-14-x: calc(var(--base-space) * 14); /* 56px */
  --space-15-x: calc(var(--base-space) * 15); /* 60px */
  --space-16-x: calc(var(--base-space) * 16); /* 64px */
  --space-17-x: calc(var(--base-space) * 17); /* 68px */
  --space-18-x: calc(var(--base-space) * 18); /* 72px */
  --space-19-x: calc(var(--base-space) * 19); /* 76px */
  --space-20-x: calc(var(--base-space) * 20); /* 80px */
  --space-21-x: calc(var(--base-space) * 21); /* 84px */
  --space-22-x: calc(var(--base-space) * 22); /* 88px */
  --space-23-x: calc(var(--base-space) * 23); /* 92px */
  --space-24-x: calc(var(--base-space) * 24); /* 96px */
}